table
{
    border-collapse: collapse;
}

table, th, td
{
    border: 1px solid black;
}

th,td
{
    padding: 5px;
}

label
{
    display: inline-block;
    width: 100px;
}
#s1
{
  width: 300px;
  float: left;
  height: 200px;
}
#s2
{
  width: 300px;
  float: left;
  height: 200px;
}
